/*Main Slider*/
section{
    background-color: #f3f3f3;
}
.slick-arrow{
    font-size: 25px;
    position: absolute;
    color: #fff;
    z-index: 1;
}
.fa-angle-left{
    top: 150px;
    left: 0;
}
.fa-angle-right{
    top: 150px;
    right: 0;
}
.mainSlider{
    margin-top: 30px;
}
.mainSlider div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 360px;
    margin:0 auto;
    border-radius: 5px;
    /* position: relative; */

}
.mainSliderImage{
    /* background-image: url('image/specialOps.jpg');   */
    width: 810px;
    /* opacity: 1; */
}
.image-gradient{
    top: 0;
    right: 297px;
    width: 200px;
    height: inherit !important;
    position: relative;
}
.mainSliderContent{
    width: 364px;
    margin: 0 !important;
    padding-top: 50px !important;
    padding-left: 30px !important;
    color: #fff;
    /* background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(57, 22, 17)) !important; */
}
.mainSliderContent h3{
    font-size: 34px;
    font-weight: 600;
}
.mainSliderContent p{
    opacity: 0.7;
    font-weight: 500;
}
.wrapper-title h2{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.1;
}
.wrapper-title h2 a{
    text-decoration: none;
    color: #000;
}
.wrapper-title h2 a:hover{
    color: #55aa29;
}
.wrapper-body .fa-angle-left{
    top: 50%;
    left: -4%;
    transform: translate(4%, -50%);
    color: #000;
    opacity: 0;
}
.wrapper-body .fa-angle-right{
    top: 50%;
    right: -4%;
    transform: translate(4%, -50%);
    color: #000;
    opacity: 0;
}
.wrapper-body:hover .fa-angle-left{
    opacity: 1;
}
.wrapper-body:hover .fa-angle-right{
    opacity: 1;
}
.wrapper-body .slick-list.draggable{
    padding-left: 0 !important;
}
.wrapper-body-content{
    margin: 20 5px;
    position: relative;
    z-index: 10;
}
.wrapper-body-content img{
    border-radius: 5px;
    width: 100%;
    height:89px;
    opacity: 1;
}
.wrapper-body-content:first-child:hover{
    transform-origin: right;
}
.wrapper-body-content:hover{
   transform: scale(1.5);
   position: relative;
   z-index: 999;
}
/* .wrapper-body-content:hover img{
    border-radius: 15px;
 } */

 /* Footer */
footer{
    background: #eee;
    position: relative;
    padding: 30px 0;
}
 .footer-left ul{
    margin: 0;
    padding: 0;
    font-size: 14px;
 }
 .footer-left li{
     display: inline;
     padding: 10px;
 }
 .footer-left li a{
     text-decoration: none;
     color: #000;
 }
 .copyright{
    padding-top: 11px;
    padding-right: 15%;
    font-size: 12px;
    line-height: 1.8;
    color: #919191;
    font-weight: 400;
 }
 .footer-right p{
     margin-bottom: 0;
 }
 .social-unit{
     padding-right: 100px;
 }

 /* media query */
 @media only screen and (max-width: 992px) {
     
    .mainSlider .d-flex>.mainSliderContent{
        display: none;
    }
    .mainSliderImage{
        width: 860px;
    }
 }
 @media only screen and (max-width: 1245px) {
    .image-gradient{
        display: none;
    }
    .mainSliderContentDummy{
        display: none;
    }   
 }
 @media only screen and (min-width: 992px){
     .mainSliderContentDummy{
         display: none;
     }
 }

.mainSliderContentDummy{
    display: none;
    width: 300px;
    margin: 0 !important;
    padding-top: 40px !important;
    padding-left: 30px !important;
    color: #fff;
    font-weight: bold;
 }



 /*---------------------detail page*---------------------------------------*/

.custom_bg{
    background-image: radial-gradient(circle at 20% 50%, rgba(89.02%, 89.02%, 89.02%, 0.98) 0%, rgba(100.00%, 100.00%, 100.00%, 0.88) 100%);

}
.movie_wrap{
    padding-top: 35px;
    padding-bottom: 35px;
}
.hearder_poster_wrapper .list-group .list-group-item{
    background-color: transparent;
    border: none;
}
.poster{
    display: block;
    box-sizing: border-box;
    /* width: 380px;
    height: 450px; */
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 2;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.poster img{
    width: 380px;
    height: 450px;   
}
.badge{
    border: 2px solid #081c22;
    border-radius: 50% !important;
    padding: 10px;
    background-color: #b9b9b9;
}
.badge:hover{
    background-color: #081c22;
    border: 2px solid #919191;
    color:#c6ff00;
}
.header_info .row span p{
    font-size: 14px;
    margin-bottom: 0;
}
.card .card-body p{
    font-size: 14px;
    margin-bottom: 0;
}

@media only screen and (max-width:992px){
    .movie_wrap{
        text-align: center;
    }
    .movie_wrap .hearder_poster_wrapper .list-group{
        justify-content: center;
    }
    .movie_wrap .poster{
        align-self: center;
    }
    .poster img{
        width: 100%;
        height: auto;
    }
    .starCast{
        text-align: center;
    }

}